In [1]:
import pandas as pd

In [ ]:
pd.read_json('iris.json')

In [ ]:
pd.read_json('https://jsonplaceholder.typicode.com/posts')

Gathering of SQL data and then need to apply some analysis of want to build model on it-->
mysql.connector
# function which can help us with connecting to our database--> connect()
# Connect()--> host--> server--> localhost,
# Connect()--> user--> username
##connect()--> password

# read_sql_query()--> 'sql query',database connection variable

In [ ]:
#pip install mysql.connector

In [2]:
import mysql.connector

In [4]:
data=mysql.connector.connect(host="localhost", user="root", password='', database="world")

In [6]:
data

In [5]:
type(data)

mysql.connector.connection.MySQLConnection

In [ ]:
df=pd.read_sql_query("SELECT * FROM city", data)

In [ ]:
pd.read_sql_query("SELECT * FROM city where population>1000000", data)

In [ ]:
pd.read_sql_query("SELECT * FROM city where CountryCode like 'IND'", data)

In [ ]:
pd.read_sql_query("SELECT * FROM Country", data)

In [ ]:
pd.read_sql_query("SELECT * FROM Country where LifeExpectancy > 80", data)

https://rapidapi.com/