In [1]:
print("hello world")

hello world

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
#df = pd.read_parquet("../Matplotlib/df_clean.parquet")
df=pd.read_parquet('D:/visual studio/Module and packages/Matplotlib/df_clean.parquet')
chocsales = pd.read_parquet("D:/visual studio/Module and packages/Matplotlib/chocsales_clean.parquet")

In [9]:
chocsales.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,January,5320,180
1,Van Tuxwell,India,85% Dark Bars,August,7896,94
2,Gigi Bohling,India,Peanut Butter Cubes,July,4501,91
3,Jan Morforth,Australia,Peanut Butter Cubes,April,12726,342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,February,13685,184

In [ ]:
df=pd.read_csv('D:/visual studio/Module and packages/Matplotlib/student_depression_dataset.csv')#data gathering

In [ ]:
chocsales=pd.read_csv('D:/visual studio/Module and packages/Matplotlib/Chocolate Sales.csv')

In [ ]:
df.columns

In [ ]:
#axis level function-> lineplot()
#style --> style parameter can also add addtional insigh in the graph by changing the plot style
sns.lineplot(data=df,x='Age',y='CGPA',hue='Gender',style='Dietary Habits')
plt.show()

In [ ]:
#figure level funtion-> sns.relplot(,kind='line'), kind='line',kind='scatterplot'
#hue-> it can group or separate teh information in the plot w.r.t a new column
g=sns.relplot(data=df,x='Age',y='CGPA',kind='line',hue='Gender',style='Dietary Habits')
g.savefig('sachin.png')
plt.show()

In [ ]:
chocsales.head()

In [ ]:
tips=sns.load_dataset('tips')

In [ ]:
tips.head(244)

In [ ]:
sns.lineplot(data=tips,x='day',y='total_bill',hue='sex',style='smoker')

In [ ]:
sns.relplot(data=tips,x='day',y='total_bill',hue='smoker',style='sex',kind='line')

In [ ]:
sns.lineplot(data=tips,x='day',y='total_bill',hue='smoker',style='time')
plt.show()

In [ ]:
gap=px.data.gapminder()
#stocks=px.data.stocks()

In [ ]:
#stocks.head()

In [ ]:
gap.head()

In [ ]:
gap.shape

In [ ]:
gap['country'].unique()

In [ ]:
gap['continent'].unique()

In [ ]:
gap['year'].unique()

In [ ]:
sns.lineplot(data=gap,x='year',y='lifeExp',hue='continent',size='continent')
plt.grid()
plt.show()

In [ ]:
#gap[(gap['country']=='India') |(gap['country']=='China')|(gap['country']=='Pakistan')]
#isin()--> India,china,pakistan
data=gap[gap['country'].isin(['India','China','Pakistan'])]

In [ ]:
sns.relplot(data=data,x='country',y='lifeExp',kind='line')

In [ ]:
data=gap[gap['country'].isin(['India','Brazil','Germany'])]

In [ ]:
gap[(gap['continent']=='Americas')].value_counts()

In [ ]:
sns.lineplot(data=data,x='year',y='lifeExp',hue='continent',size='continent')

In [ ]:
df.head()

In [ ]:
#axes level function
sns.scatterplot(data=df,x='Age',y='CGPA')
plt.show()

In [ ]:
sns.scatterplot(data=tips,x='total_bill',y='tip',hue='sex',size='size')
plt.show

In [ ]:
sns.relplot(data=tips,x='total_bill',y='tip',hue='sex',size='size',kind='scatter')

In [ ]:
sns.relplot(data=gap,x='lifeExp',y='pop',hue='continent')

In [ ]:
sns.scatterplot(data=tips,x='total_bill',y='tip',hue='sex')

In [ ]:
sns.relplot(data=tips,x='total_bill',y='tip',row='sex',kind='scatter')

In [ ]:
sns.relplot(data=tips,x='total_bill',y='tip',col='sex',kind='scatter')
plt.show()

In [ ]:
sns.relplot(data=tips,x='total_bill',y='tip',col='smoker',kind='scatter',row='sex')
plt.show()

In [ ]:
sns.relplot(data=gap,x='lifeExp',y='pop',col='year',kind='scatter')
plt.show()

In [ ]:
sns.relplot(
    data=gap,
    x='lifeExp',
    y='pop',
    col='year',
    col_wrap=3,
    kind='scatter'
)

plt.show()

In [ ]:
#axis level fn histplot
sns.histplot(data=df,x='Age',bins=120,hue='Gender')

In [ ]:
sns.displot(data=df,x='Age',hue='Gender',kind='hist')

In [ ]:
tips.head()

In [ ]:
sns.histplot(data=tips,x='total_bill',bins=15,hue='sex',element='poly')

In [ ]:
#facetplot w.r.t figure level function
sns.displot(data=tips,x='total_bill',col='sex')

In [ ]:
sns.histplot(data=tips,x='tip',bins=15,hue='sex')

In [ ]:
sns.histplot(data=gap,x='lifeExp')

In [ ]:
#kde kernel density estimation plot - > distribution of the data inside a numerical column only
#instead of getting the bin , we can get the smooth curve.probability density function repsenting the distribu of the data with curve
#axis level func sns.kdeplot() data=dataframe,x=column,fill=true or false bydefault
sns.kdeplot(data=df,x='Age',fill=True,hue='Gender')

In [ ]:
sns.displot(data=df,x='Age',hue='Gender',kind='kde',fill=True)
plt.grid()

In [ ]:
sns.kdeplot(data=tips,x='total_bill',fill=True,hue='sex')
plt.grid()
plt.show()

In [ ]:
sns.displot(data=gap,x='lifeExp',kind='kde')
plt.grid()

In [ ]:
#rug plot is not important also small vertical line like ticks along the axis
#more deep the rug plot tick -> more density we can expect ther
#usually used in conjunctin with other plot like kde plot + rug plot
sns.rugplot(data=gap,x='lifeExp')

In [ ]:
sns.kdeplot(data=tips,x='total_bill',hue='sex',fill=True)
sns.rugplot(data=tips,x='total_bill')

In [ ]:
#Bivariate histogram-> creates histogram in both x and y axis as histo with one numerical qty in x direc and one numerical qty in y direction and conjunction of both qtyies creates an rectangel more darker the rectangle -> more density we can have 
sns.histplot(data=tips,x='total_bill',y='tip')

In [ ]:
'''bivariate kde plot-> smoothes the x,y observation with 2d gaussian plane
i will create the circular plots 
circular figure closeness (more)-> density more'''
sns.kdeplot(data=tips,x='total_bill',y='tip')

In [ ]:
'''matrix plot - relationship between 2-dimension like a table
 
heatmap -> in every classification machine learning problem statement we use the heatmap.heatmap used color shaded to show the size of number in matrix 2-d table
pivot()-> index,column,value-> gap.pivot(index='',columns='',values='')
in matrix plot , we are not having figure level but axis level functn
heatmap()-> data-> annot->cmap--> coolwarm,viridis
 '''
gap.head()

In [ ]:
dt=gap[(gap['continent']=='Europe')].pivot(index='country',columns='year',values='lifeExp')
plt.figure(figsize=(15,15))
sns.heatmap(data=dt,annot=True,cmap='viridis',linewidth=0.5)
plt.show()

In [ ]:
dt=gap.pivot(index='country',columns='year',values='lifeExp')
sns.heatmap(data=dt)

In [ ]:
#clustermap-> both heatmap and automatic grouping using cluster
#amit= 78,85,93,65
#sunil=48,66,23,12
#raj=79,84,94,67

# it groups the similar rows and similar columns using machine learning algorith internally
#helps in finding hidden pattern in your data

In [ ]:
iris=px.data.iris()

In [ ]:
iris.head()

In [ ]:
sns.clustermap(iris.iloc[:,[0,1,2,3]])

In [ ]:
'''categorical plots
it helps to visualize the relationship where atleast one variable is categorical and other can be categorical/numerical
category - x axis
numerical- y axis
in categorical colum , we group the rows based on the category of categorical column and can apply an aggregation operation on numerica columns.
# barplot - typically shows average value of numerical column
'''
sns.barplot(data=gap,x='continent',y='lifeExp')

In [ ]:
sns.barplot(data=gap,x='continent',y='gdpPercap')

In [ ]:
sns.barplot(data=df,x='Dietary Habits',y='Depression')

In [ ]:
sns.barplot(data=tips,x='sex',y='total_bill',hue='smoker')

In [ ]:
sns.countplot(data=gap,x='continent')

In [ ]:
gap[gap['continent']=='Oceania'].value_counts()

In [ ]:
sns.countplot(data=tips,x='day')

In [ ]:
# used to get the outlieer and median,quartile
sns.boxplot(data=df,x='CGPA')

In [ ]:
sns.boxplot(data=tips,x='total_bill')

In [ ]:
sns.boxplot(data=gap,x='continent',y='lifeExp')

In [ ]:
#violin plot-> combination of box plot and kde plot
sns.violinplot(data=tips,x='total_bill')

In [ ]:
sns.violinplot(data=gap,x='continent',y='lifeExp')

In [ ]:
#swarmplot-> individual data points while avoiding overlapping so density and idividual points
sns.swarmplot(data=chocsales,x='Country',y='Boxes Shipped')

In [ ]:
'''regression plot---relationship between two numerical variables
x and y along with best fit regression line.
regression plot--- combination of scatter plot and line plot
scatter plot-- it can show us the past variation of data
line plot--- it can show us the future tends
example --- study hours vs exam score
regplot()---data---x--numerical column
y--numerical column2
marker--'o'
color-> '''
tips.head()

In [ ]:
sns.regplot(data=tips,x='total_bill',y='tip')

In [ ]:
sns.regplot(data=gap,x='lifeExp',y='gdpPercap')

In [ ]:
#joinplot-> scatter plot +  histogram
#jointplot()-> x,y,kind
sns.jointplot(data=tips,x='total_bill',y='tip')

In [ ]:
sns.jointplot(data=tips,x='total_bill',y='tip',kind='reg')

In [ ]:
#pairplot - multiple scatter plot and histogram for all comibination of numerical column
sns.pairplot(data=df)

In [ ]:
sns.pairplot(data=tips)

In [ ]:
sns.pairplot(data=chocsales)

In [ ]:
chocsales.head()

In [ ]:
sns.pairplot(data=gap,kind='reg')

In [ ]:
df.head(100)