In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('unclean_smartwatch_health_data.csv')

In [3]:
df.head()

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167235622316564,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239375570314,Highly_Active,5
2,1860.0,247.803052,97.052954,2826.521994,ERROR,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367789630207228,Actve,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly_Active,6

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   User ID                 9799 non-null   float64
 1   Heart Rate (BPM)        9600 non-null   float64
 2   Blood Oxygen Level (%)  9700 non-null   float64
 3   Step Count              9900 non-null   float64
 4   Sleep Duration (hours)  9850 non-null   object
 5   Activity Level          9800 non-null   object
 6   Stress Level            9800 non-null   object
dtypes: float64(4), object(3)
memory usage: 547.0+ KB

In [5]:
df['User ID'].isnull().sum()

np.int64(201)

In [6]:
df.drop(columns=['User ID'], inplace=True)

In [7]:
df.head()

,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,58.939776,98.809650,5450.390578,7.167235622316564,Highly Active,1
1,NaN,98.532195,727.601610,6.538239375570314,Highly_Active,5
2,247.803052,97.052954,2826.521994,ERROR,Highly Active,5
3,40.000000,96.894213,13797.338044,7.367789630207228,Actve,3
4,61.950165,98.583797,15679.067648,NaN,Highly_Active,6

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        9600 non-null   float64
 1   Blood Oxygen Level (%)  9700 non-null   float64
 2   Step Count              9900 non-null   float64
 3   Sleep Duration (hours)  9850 non-null   object
 4   Activity Level          9800 non-null   object
 5   Stress Level            9800 non-null   object
dtypes: float64(3), object(3)
memory usage: 468.9+ KB

In [9]:
#drop missing data
#df.dropna(inplace=True)

In [10]:
# mean median imputation --> fill the missing data with the mean or median of all  rows of that column  
#while going mean values is always advisable for the outliers .
# median --> most fequent value from the given column, if you allrnge all the values from the low to high side--> in between value 
#mode --> most frequent value is mode.

In [11]:
df['Heart Rate (BPM)'].describe()

count    9600.000000
mean       76.035462
std        19.412483
min        40.000000
25%        64.890152
50%        75.220601
75%        85.198249
max       296.593970
Name: Heart Rate (BPM), dtype: float64

In [12]:
df['Heart Rate (BPM)'].median()

np.float64(75.22060125775644)

In [13]:
df['Heart Rate (BPM)'].fillna(df['Heart Rate (BPM)'].median(), inplace=True)

In [14]:
df['Heart Rate (BPM)'].isnull().sum()

np.int64(0)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  9700 non-null   float64
 2   Step Count              9900 non-null   float64
 3   Sleep Duration (hours)  9850 non-null   object
 4   Activity Level          9800 non-null   object
 5   Stress Level            9800 non-null   object
dtypes: float64(3), object(3)
memory usage: 468.9+ KB

In [16]:
df['Heart Rate (BPM)'].value_counts()

Heart Rate (BPM)
75.220601     400
40.000000      84
104.227891      1
66.629712       1
72.539956       1
             ...
61.367198       1
83.545119       1
58.797407       1
72.505887       1
79.062632       1
Name: count, Length: 9518, dtype: int64

In [17]:
df['Blood Oxygen Level (%)'].isnull().sum()

np.int64(300)

In [18]:
#trying to understand the patter and patter mcar - missing completely at random

df[df['Blood Oxygen Level (%)'].isnull()==True]

,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
10,101.914938,NaN,2987.568640,7.541956463173237,Sedentary,9
21,68.310104,NaN,1058.374274,6.456918401449286,Actve,3
133,77.907578,NaN,15672.467752,9.079469571860296,Sedentary,10
134,78.227923,NaN,789.365922,3.5252990125882064,Seddentary,3
187,89.486636,NaN,2689.849911,5.737108446097524,Seddentary,6
...,...,...,...,...,...,...
9834,64.803112,NaN,1647.308449,8.04238137746177,Highly Active,7
9861,57.617790,NaN,14269.737149,6.390686112594759,Highly_Active,9
9885,75.281591,NaN,3852.160740,8.970316986352344,Actve,NaN
9905,87.693723,NaN,2364.028205,3.5490963940132865,Seddentary,3
9979,58.797407,NaN,359.210435,8.035879532058063,Active,5

In [19]:
df.describe()
#no outliers in the data set.

       Heart Rate (BPM)  Blood Oxygen Level (%)    Step Count
count      10000.000000             9700.000000   9900.000000
mean          76.002867               97.841581   6985.685885
std           19.020902                1.732863   6885.809680
min           40.000000               90.791208      0.910138
25%           65.322796               96.662683   2021.039657
50%           75.220601               98.010642   4962.534599
75%           84.791711               99.376179   9724.902880
max          296.593970              100.000000  62486.690753

In [20]:
df['Blood Oxygen Level (%)'].fillna(df['Blood Oxygen Level (%)'].mean(), inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  10000 non-null  float64
 2   Step Count              9900 non-null   float64
 3   Sleep Duration (hours)  9850 non-null   object
 4   Activity Level          9800 non-null   object
 5   Stress Level            9800 non-null   object
dtypes: float64(3), object(3)
memory usage: 468.9+ KB

In [22]:
#forward filling or backward filling-> time series data 
# forward filling -> fill the missing value with the previous value
# backward filling -> fill the missing value with the next value    


df[df['Step Count'].isnull()==True]

,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
136,70.593014,97.473981,NaN,3.439287691081752,Highly_Active,6
204,75.220601,98.710637,NaN,5.756958709255954,Highly_Active,8
603,69.084103,99.627473,NaN,6.358184719715759,Highly_Active,7
716,83.258294,98.704757,NaN,5.486240700986009,Seddentary,3
739,97.506420,97.651407,NaN,7.465981460156365,Active,6
...,...,...,...,...,...,...
9097,62.072133,96.810967,NaN,5.828570383973958,Seddentary,6
9121,54.793814,99.670176,NaN,6.686430627866978,Seddentary,2
9191,101.777396,100.000000,NaN,8.07989468005159,Active,10
9527,75.220601,94.694312,NaN,4.186856483292383,Seddentary,4
9565,90.411615,95.009355,NaN,8.582820460042822,Sedentary,4

In [23]:
# method --> ffill --> forward filling
#backward filling --> bfill
df['Step Count'].fillna(method='ffill', inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_1956\1118214687.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Step Count'].fillna(method='ffill', inplace=True)

In [24]:
df['Step Count'].isnull().sum()

np.int64(0)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  10000 non-null  float64
 2   Step Count              10000 non-null  float64
 3   Sleep Duration (hours)  9850 non-null   object
 4   Activity Level          9800 non-null   object
 5   Stress Level            9800 non-null   object
dtypes: float64(3), object(3)
memory usage: 468.9+ KB

In [26]:
df[df['Sleep Duration (hours)']=='ERROR']

,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
2,247.803052,97.052954,2826.521994,ERROR,Highly Active,5
62,115.078288,99.928041,1918.372142,ERROR,Highly_Active,4
71,64.799778,94.743857,4613.859266,ERROR,Highly_Active,10
81,41.709895,96.857347,1413.015778,ERROR,Highly_Active,4
92,70.243810,97.171134,2336.583406,ERROR,Highly Active,7
...,...,...,...,...,...,...
9901,63.369107,96.229029,6656.786482,ERROR,Active,4
9912,75.933666,97.386073,1813.072248,ERROR,Sedentary,10
9927,87.579045,98.768633,3727.161872,ERROR,Active,1
9943,91.834863,96.145378,38831.465057,ERROR,Active,4
9951,70.335328,98.560133,1997.442874,ERROR,Highly_Active,9

In [27]:
# object data type --> numeric--> pandas--> to_numeric()
df['Sleep Duration (hours)']=pd.to_numeric(df['Sleep Duration (hours)'],errors='coerce')

In [28]:
df[df['Sleep Duration (hours)']=='ERROR']

Empty DataFrame
Columns: [Heart Rate (BPM), Blood Oxygen Level (%), Step Count, Sleep Duration (hours), Activity Level, Stress Level]
Index: []

In [29]:
df['Sleep Duration (hours)'].value_counts()

Sleep Duration (hours)
7.167236    1
6.538239    1
7.367790    1
8.378343    1
7.871146    1
           ..
7.402749    1
6.382166    1
6.916549    1
5.691234    1
5.691001    1
Name: count, Length: 9603, dtype: int64

In [30]:
df['Sleep Duration (hours)'].dtype

dtype('float64')

In [31]:
df['Sleep Duration (hours)'].mean()

np.float64(6.505462918406444)

In [32]:
df['Sleep Duration (hours)'].median()

np.float64(6.503308362112644)

In [33]:
df['Sleep Duration (hours)']=df['Sleep Duration (hours)'].fillna(df['Sleep Duration (hours)'].mean())

In [34]:
df['Sleep Duration (hours)'].isnull().sum()

np.int64(0)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  10000 non-null  float64
 2   Step Count              10000 non-null  float64
 3   Sleep Duration (hours)  10000 non-null  float64
 4   Activity Level          9800 non-null   object
 5   Stress Level            9800 non-null   object
dtypes: float64(4), object(2)
memory usage: 468.9+ KB

In [36]:
#for catogorical column--> mode -> most frequent repeating value in your column 
df['Activity Level'].mode()

0    Seddentary
Name: Activity Level, dtype: object

In [37]:
df['Activity Level'].isnull().sum()

np.int64(200)

In [38]:
df['Activity Level']=df['Activity Level'].fillna('Seddentary')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  10000 non-null  float64
 2   Step Count              10000 non-null  float64
 3   Sleep Duration (hours)  10000 non-null  float64
 4   Activity Level          10000 non-null  object
 5   Stress Level            9800 non-null   object
dtypes: float64(4), object(2)
memory usage: 468.9+ KB

In [40]:
# constant imputation-> when you want to fill missing values with a constant value with a constant value like unknown

In [42]:
df['Stress Level'].value_counts()

Stress Level
2            1007
7            1006
6            1001
3             995
1             984
9             976
4             966
10            954
5             945
8             917
Very High      49
Name: count, dtype: int64

In [43]:
df['Stress Level'].fillna(5,inplace=True)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  10000 non-null  float64
 2   Step Count              10000 non-null  float64
 3   Sleep Duration (hours)  10000 non-null  float64
 4   Activity Level          10000 non-null  object
 5   Stress Level            10000 non-null  object
dtypes: float64(4), object(2)
memory usage: 468.9+ KB

In [45]:
#different imputation technique
'''
1. Remove the missing values
2. mean median imputatio -(numeric)
3. mode imputation -> categorical
4. constant or sentinel value imputation
5. forward fill / backward fill ( time series)
6. simple imputation - from scikit learn
'''

'\n1. Remove the missing values\n2. mean median imputatio -(numeric)\n3. mode imputation -> categorical\n4. constant or sentinel value imputation\n5. forward fill / backward fill ( time series)\n6. simple imputation\n'

In [46]:
df=pd.read_csv('unclean_smartwatch_health_data.csv')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   User ID                 9799 non-null   float64
 1   Heart Rate (BPM)        9600 non-null   float64
 2   Blood Oxygen Level (%)  9700 non-null   float64
 3   Step Count              9900 non-null   float64
 4   Sleep Duration (hours)  9850 non-null   object
 5   Activity Level          9800 non-null   object
 6   Stress Level            9800 non-null   object
dtypes: float64(4), object(3)
memory usage: 547.0+ KB

In [50]:
df=df.drop(columns=['User ID'])

In [49]:
df.head()

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167235622316564,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239375570314,Highly_Active,5
2,1860.0,247.803052,97.052954,2826.521994,ERROR,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367789630207228,Actve,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly_Active,6

In [52]:
from turtle import st

from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='median')
df['Heart Rate (BPM)']=imputer.fit_transform(df[['Heart Rate (BPM)']]).ravel()

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  9700 non-null   float64
 2   Step Count              9900 non-null   float64
 3   Sleep Duration (hours)  9850 non-null   object
 4   Activity Level          9800 non-null   object
 5   Stress Level            9800 non-null   object
dtypes: float64(3), object(3)
memory usage: 468.9+ KB

In [54]:
df.describe()

       Heart Rate (BPM)  Blood Oxygen Level (%)    Step Count
count      10000.000000             9700.000000   9900.000000
mean          76.002867               97.841581   6985.685885
std           19.020902                1.732863   6885.809680
min           40.000000               90.791208      0.910138
25%           65.322796               96.662683   2021.039657
50%           75.220601               98.010642   4962.534599
75%           84.791711               99.376179   9724.902880
max          296.593970              100.000000  62486.690753

In [56]:
from numpy import ravel


imputer=SimpleImputer(strategy='mean')
df['Blood Oxygen Level (%)']=imputer.fit_transform(df[['Blood Oxygen Level (%)']]).ravel()

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  10000 non-null  float64
 2   Step Count              9900 non-null   float64
 3   Sleep Duration (hours)  9850 non-null   object
 4   Activity Level          9800 non-null   object
 5   Stress Level            9800 non-null   object
dtypes: float64(3), object(3)
memory usage: 468.9+ KB

In [59]:
df['Activity Level'].describe()

count           9800
unique             6
top       Seddentary
freq            1676
Name: Activity Level, dtype: object

In [62]:
#most frequent is for categorical column
imputer=SimpleImputer(strategy='most_frequent')
df['Activity Level']=imputer.fit_transform(df[['Activity Level']]).ravel()

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  10000 non-null  float64
 2   Step Count              9900 non-null   float64
 3   Sleep Duration (hours)  9850 non-null   object
 4   Activity Level          10000 non-null  object
 5   Stress Level            9800 non-null   object
dtypes: float64(3), object(3)
memory usage: 468.9+ KB

In [64]:
imputer=SimpleImputer(strategy='constant',fill_value=5)
df['Stress Level']=imputer.fit_transform(df[['Stress Level']]).ravel()

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  10000 non-null  float64
 2   Step Count              9900 non-null   float64
 3   Sleep Duration (hours)  9850 non-null   object
 4   Activity Level          10000 non-null  object
 5   Stress Level            10000 non-null  object
dtypes: float64(3), object(3)
memory usage: 468.9+ KB

In [68]:
# Convert to numeric first (handles 'ERROR' values), then impute with mean
df['Sleep Duration (hours)'] = pd.to_numeric(df['Sleep Duration (hours)'], errors='coerce')

imputer = SimpleImputer(strategy='mean')
df['Sleep Duration (hours)'] = imputer.fit_transform(df[['Sleep Duration (hours)']]).ravel()

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  10000 non-null  float64
 2   Step Count              9900 non-null   float64
 3   Sleep Duration (hours)  10000 non-null  float64
 4   Activity Level          10000 non-null  object
 5   Stress Level            10000 non-null  object
dtypes: float64(4), object(2)
memory usage: 468.9+ KB

In [70]:
imputer = SimpleImputer(strategy='median')
df['Step Count'] = imputer.fit_transform(df[['Step Count']]).ravel()

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Heart Rate (BPM)        10000 non-null  float64
 1   Blood Oxygen Level (%)  10000 non-null  float64
 2   Step Count              10000 non-null  float64
 3   Sleep Duration (hours)  10000 non-null  float64
 4   Activity Level          10000 non-null  object
 5   Stress Level            10000 non-null  object
dtypes: float64(4), object(2)
memory usage: 468.9+ KB